<%= link_to "#{current_user.email}", "/config" %>
<%= link_to "News Top", "/feed" %>

<channel>
<br />
<ul>
<% @myreads.each do |myread| %>
  <li><%= myread.channel_name %></li>
<% end %>
</ul>
</channel>

