<%= link_to "#{current_user.email}", "/config" %>
<%= link_to "News Top", "/feed" %>

<ul>
  <li><%= link_to "Choise Channel", "/config/choise" %></li>
  <li><%= link_to "Add Channel", "/config/add" %></li>
</ul>
