development:
  adapter: postgresql
  encoding: unicode
  database: myreader
  pool: 5
  username: rails_user
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: myreader_test
  pool: 5
  username: rails_user
  password:
