//============================
//
// myReader color setting scss
// author : kasumi suzuki
// date   : 22.07.2016
//
//============================

   $color-red: #cb4437;
  $color-blue: #3372df;
 $color-green: #0f9d58;
$color-yellow: #f4b400;
  $color-gray: #404040;
 $color-smoke: #737373;
$color-silver: #f0f0f0;
 $color-white: #fff;
 $color-black: #000;
